@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/Fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "poppinsMedium";
  src: url("./assets/Fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "poppinsEBoLd";
  src: url("./assets/Fonts/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: atma;
  src: url("./assets/Fonts/Atma-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbf8cc;
  font-family: poppinsMedium;
}

nav {
  background-color: #fbf8cc;

  .navName {
    font-family: bebas neue;
    font-size: 1.5em;
    font-weight: 900;
    color: #061280;
  }

  .navContainer {
    li:hover {
      color: #061280;
    }
  }
}

#Home {
  font-family: poppinsMedium;
  color: #474306;

  h1 {
    font-family: poppinsEBold;
  }

  .welcome {
    font-family: bebas neue;
  }
}

.profilePhoto{
  border-radius: 1rem 100rem 100rem 100rem;
}

.techStack {
  display: grid;
}

.class {
  font-family: atma;
}

.footer {
  font-family: bebas neue;
}

.url:hover {
  text-decoration: underline;
}

.projectBorder {
  box-shadow: 3px 5px 10px 0px;
}
